@import "tailwindcss";


/* Scrollbar moderna, usable y discreta */
.custom-scroll::-webkit-scrollbar {
  width: 12px; /* grosor */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(120 120 120 / 0.5); /* gris medio */
  border-radius: 9999px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(160 160 160 / 0.7); /* gris claro */
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thick;
  scrollbar-color: rgb(120 120 120 / 0.6) transparent;
}


* {
  outline: none !important;
}